@import url('global.css');

.cont-menu{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-columns: 50% 50%;
    background: rgba(67, 127, 196, 0.5);
}

.cont-menu nav a{
    text-decoration: none;
}

.grid1{
    display: grid;
    background: rgba(80, 127, 196, 0.5);
}

.grid2{
    display: grid;
    background: rgba(80, 127, 196, 0.5);
}

.grid3{
    display: grid;
    background: rgba(80, 127, 196, 0.5);
}

.grid4{
    display: grid;
    background: rgba(80, 127, 196, 0.5);
}

.grid5{
    display: grid;
    background: rgba(80, 127, 196, 0.5);
}

.grid6{
    display: grid;
    background: rgba(80, 127, 196, 0.5);
}


